
        .header {
            width:100%;
            height:80px;
            background:yellow;
			}
		
		.net{
		    float:right;
			margin-right:20px;
		}

        .sonnet{
            margin:0 0 1em;
        }
        
		.center{
           text-align:center;
           float:right;
           margin:10px;
		   font-size:20px;
		   font-weight:bold;
        }
		
		.wrap{
            width:720px;
            margin:0 auto;
			height:500px;
        }


        .nav ul{
		    margin:0;
			padding:1px;
            list-style:none;
            background-color:green;
			
        }
        .nav li {
		    margin:1%;
			padding:2%;		    
            display:inline;
        }
		
        .content {
            float:left;
            width:520px;
            height:500px;
            padding:10px;
            background:#9c9;
        } 
        .sidebar {
            float:right;
            width:160px;
            height:500px;
            padding:10px;
            background:#99c;
			}
        footer {
            clear:both;
            padding:5px 10px;
            background:#cc9;
        }
        .footer p {
            margin:0;
        }
        .dot{
        border-width:1px;	
        border-style:dashed;
	    border-bottom-color:white;
        }
